﻿@{
    ViewBag.Title = "About";
}
<div id="buttons">
    <ul class="list-inline">
        <li><a href="@Url.Action("Who", "Home")" id="Who">Who</a></li>
        <li><a href="@Url.Action("What", "Home")" id="What">What</a></li>
        <li><a href="@Url.Action("Why", "Home")" id="Why">Why</a></li>
        <li><a href="@Url.Action("How", "Home")" id="How">How</a></li>
        <li><a href="@Url.Action("Where", "Home")" id="Where">Where</a></li>
    </ul>
</div>
<div class="container about">
    @Html.Partial("Who")
</div>